html {
  outline: 5px solid rgb(35, 226, 10);
}

body {
  outline: 2px solid red;
}

header {
  outline: 2px solid blue;
}

main {
  outline: 2px solid green;
}

footer {
  outline: 2px solid black;
}

section {
  outline: 2px solid black;
}

div {
  outline: 2px dashed #FF1493;
}

ul {
  outline: 2px dashed #FF1493;
}

li {
  outline: 1px solid #000000;
}

form {
  outline: 2px dashed #FF1493;
}
