html {
  outline: 5px dashed rgb(35, 226, 10);
}

body {
  outline: 2px dashed red;
}

header {
  outline: 2px dashed blue;
}

main {
  outline: 2px dashed green;
}

footer {
  outline: 1px dashed black;
}

section {
  outline: 1px dashed black;
}

div {
  outline: 2px dashed #FF1493;
}

ul {
  outline: 2px dashed #FF1493;
}

li {
  outline: 1px dashed #000000;
}

form {
  outline: 2px dashed #FF1493;
}

span {
  outline: 2px dashed #FF1493;
}
