@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Центровщик */
.page-container {
  width: 1160px;
  margin: 0 auto;
}

/* Для реализации "sticky-footer" */
.main-container {
  flex-grow: 1;
}

.page-header {
  min-height: 186px;
  width: 1160px;
  margin: 40px auto 0;
  padding: 0;
  background-color: #FFE17F;
}

.logo {
  display: block;
  margin: -23px 0 0 60px;
}

/* Обертка "поиск + навигация пользователя" */
.navigation-user-container {
  width: 1040px;
  padding: 0;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
}

.search-form {
  box-sizing: border-box;
  width: 517px;
  margin-right: 26px;
  display: grid;
  grid-template-columns: 1fr 160px;
}

.search-input {
  box-sizing: border-box;
  padding-left: 46px;
  background-color: transparent;
  outline: none;
  border: transparent;
  border: 2px solid black;
  font: inherit;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-right: none;
}

.search-button {
  box-sizing: border-box;
  padding: 0;
  border: 2px solid black;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.navigation-user {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

/* Основная навигация */
.navigation-list {
  width: 1040px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0;
  display: flex;
  list-style: none;
}

.navigation-item {
  margin-right: 45px;
}

.navigation-item:first-child {
  width: 293px;
  margin-right: auto;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-user-link {
  display: block;
  padding: 5px;
  color: inherit;
  text-decoration: none;
}

.navigation-link {
  display: block;
  padding: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.slider-container-1 {
  display: flex;
}

.slider-container-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 51px;
}

.slider-number-container {
  background-color: #FFE17F;
}

.slider-number {
  display: block;
  width: 250px;
  margin-left: auto;
  font-weight: 700;
  font-size: 180px;
  line-height: 135px;
  color: #ffffff;
}

.slider-pagination-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.bestsellers-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.bestsellers-title {
  margin: 0;
  margin-top: -22px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.bestsellers-description {
  margin: 0;
  margin-top: 29px;
  color: #444444;
}

.bestsellers-properties-container {
  display: flex;
  margin-top: 49px;
}

.bestsellers-property {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.bestsellers-property:first-child {
  margin-left: 0;
}

.property-text {
  margin: 0;
  margin-top: 12px;
  font-size: 16px;
  color: #444444;
}

.property-value {
  order: -1;
  margin: 0;
  font-size: 36px;
}

.button {
  display: inline-block;
  height: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.2em;
  color: inherit;
  background-color: #FFE17F;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.categories-list {
  margin: 0;
  margin-top: 70px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.categories-item {
  margin-right: 40px;
  margin-bottom: 5px;
  width: 160px;
  min-height: 253px;
}

.categories-item:nth-child(6n) {
  margin-right: 0;
}

.categories-item-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.categories-item-block {
  position: relative;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
}

.categories-item-name {
  display: block;
  margin-top: 33px;
}

.categories-item-link {
  display: flex;
  min-height: 253px;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: inherit;
  text-decoration: none;
}

.categories-item-link:hover .categories-item-block{
  background-color: #FFC700;
}

.services {
  background-color: #F0F0F0;
  margin-top: 167px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  display: flex;
  margin: 0;
}

.services-title {
  margin: 0;
  margin-top: -22px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.services-image {
  display: block;
}

.services-description {
  color: #444444;
}

.services-button-list {
  width: 287px;
  margin: 0;
  margin-top: -40px;
  padding: 0;
  list-style: none;
}

.services-button-current {
  color: #FFE17F;
  background-color: black;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  margin: 0;
  margin-top: 70px;
  padding: 0;
  width: 1160px;
  height: 100px;
  background-color: #F0F0F0;
}

.advantages-link {
  display: flex;
  align-items: center;
  height: 100px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.advantages-icon {
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
}

.advantages-text {
  width: 1035px;
  text-align: center;
}

.index-columns {
  margin-top: 70px;
  display: flex;
	justify-content: space-between;
}

.about {
  width: 500px;
}

.about-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.about-text {
  margin: 0;
  margin-top: 48px;
  color: #444444;
}

.delivery-companies-list {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 40px;
}

.delivery-companies-item {
  margin-bottom: 19px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #FFC700;
}

.delivery-companies-item:last-child {
  margin-bottom: 0;
}

.delivery-companies {
  color: #000000;
}

.contacts {
  width: 533px;
}

.contacts-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.contacts-text {
  margin: 0;
  margin-top: 48px;
  color: #444444;
}

.contacts-subtitle {
  margin: 0;
  margin-top: 30px;
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}

.contacts-address-text {
  margin: 0;
  margin-top: 15px;
  color: #444444;
  font-style: normal;
}

.contacts-phone {
  margin: 0;
  color: #444444;
  font-style: normal;
}

.contacts-schedule {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 40px;
}

.contacts-schedule-item {
  color: #444444;
}

.newsletter-container {
  display: flex;
  justify-content: space-between;
}

.newsletter-container:last-child {
  margin-top: 144px;
  padding-bottom: 56px;
}

.newsletter {
  margin-top: 70px;
  background-color: #F0F0F0;
}

.newsletter-title {
  margin: 0;
  margin-top: 64px;
  padding: 0;
  width: 400px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.newsletter-text {
  margin: 0;
  margin-top: 74px;
  padding: 0;
  width: 553px;
  color: #444444;
}

.newsletter-text-fiture {
  margin: 0;
  color: #444444;
}

.newsletter-form {
  width: 811px;
}

.newsletter-subscribe {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

.page-footer {
  background-color: #444444;
  color: #FFFFFF;
  padding-top: 62px;
}

.page-footer-container {
  width: 1160px;
  margin: 0 auto;
}

.footer-group-1-container {
  display: flex;
  justify-content: space-between;
}

.footer-group-2-container {
  display: flex;
  justify-content: space-between;
}

.footer-contacts-address {
  width: 239px;
}

.footer-contacts-address-text {
  font-size: 16px;
  line-height: 19px;
}

.footer-services-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.footer-services-item {
  margin-right: 35px;
}

.footer-services-item:last-child {
  margin-right: 0;
}

.footer-services-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.footer-social-item:not(:last-child) {
  margin-right: 15px;;
}

.footer-social-link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFFFFF;
  opacity: 0.3;
  color: inherit;
  text-decoration: none;
}

.footer-social-link:hover {
  background-color: #FFC700;
  opacity: 1;
}

.footer-contacts-phone {
  width: 175px;
}

.footer-contacts-phone-number {
  font-size: 16px;
  line-height: 20px;
  color: inherit;
}

.inner-header {
  box-sizing: border-box;
  width: 1160px;
  margin: 0 auto;
  padding: 35px 60px;
}

.categories-current {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.breadcrumbs {
  margin: 0;
  margin-top: 16px;
  padding: 0;
  display: flex;
  list-style: none;
}

.breadcrumbs-item {
  margin-left: 36px;
}

.breadcrumbs-item:first-child {
  margin-left: 0;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

.catalog-products {
  background-color: #F0F0F0;
}

.catalog-grid-layout {
  display: grid;
  grid-template-columns: 320px 840px;
  grid-template-rows: 70px auto;
  grid-template-areas:
    "filter sorting"
    "filter products";
}

.product-list {
  grid-area: products;
  display: grid;
  grid-template-columns: 360px 360px;
  row-gap: 44px;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  margin-top: 70px;
  padding: 0;
}

.product-list-container {
  background-color: #FFFFFF;
}

.sorting-container {
  grid-area: sorting;
  display: flex;
}

.catalog-filter-container {
  grid-area: filter;
}

.catalog-filter-title, .catalog-sorting-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
}

.catalog-filter-legend {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.control-input {
  font-size: 16px;
  line-height: 19px;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.product-card-link {
  display: grid;
  grid-template-columns: 180px 180px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: inherit;
  text-decoration: none;
}

.product-card-image {
  grid-column: 1 / -1;
  margin-bottom: 32px;
}

.product-card-title {
  margin: 0;
  padding: 0;
}

.product-card-price {
  justify-self: end;
  display: block;
  font-weight: 400;
  line-height: 21px;
  color: #444444;
}

.product-list-button {
  display: block;
  box-sizing: border-box;
  border: 3px solid #EBEBEB;
  width: 760px;
  margin: 0 auto;
  margin-top: 44px;
  padding: 15px;
  background-color: #FFFFFF;
  border: 3px solid #F0F0F0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination {
  background-color: #F0F0F0;
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 78px;
  padding: 0;
  width: 760px;
  display: flex;
  /* justify-content: space-between; */
  list-style-type: none;
}

.pagination-link {
  line-height: 21px;
  color: #444444;
  opacity: 0.3;
  padding: 25px;
  display: block;
  text-decoration: none;
}

.pagination-prev, .pagination-next {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  color: #000000;
  opacity: 1;
  text-transform: uppercase;
}

.prev {
  margin-right: auto;
}

.next {
  margin-left: auto;
}
