@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.page-header {
  background-color: #FFE17F;
}

.navigation-user-link {
  color: inherit;
  text-decoration: none;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.bestsellers-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.bestsellers-description {
  color: #444444;
}

.property {
  font-size: 16px;
  color: #444444;
}

.property-value {
  font-size: 36px;
}

.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  color: inherit;
  background-color: #FFE17F;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.categories-item-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.categories-item-image {
  background-color: #FFE17F;
  vertical-align: middle;
}

.services {
  background-color: #F0F0F0;
}

.services-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.services-description {
  color: #444444;
}

.advantages-list {
  list-style: none;
}

.advantages-item {
  width: 1160px;
  height: 100px;
  background-color: #F0F0F0;
  text-align: center;
}

.advantages-link {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.advantages-image {
  vertical-align: middle;
}

.about-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.about-text {
  color: #444444;
}

.delivery-companies-item {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #FFC700;
}

.delivery-companies {
  color: #000000;
}

.contacts-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.contacts-text {
  font-family: "Rubik", sans-serif;
  color: #444444;
}

.contacts-subtitle {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-address-text, .contacts-phone {
  font-family: "Rubik", sans-serif;
  color: #444444;
  font-style: normal;
}

.contacts-schedule-item {
  color: #444444;
}

.newsletter {
  background-color: #F0F0F0;
}

.newsletter-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.newsletter-text {
  font-family: "Rubik", sans-serif;
  color: #444444;
}

.newsletter-subscribe {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

.page-footer {
  background-color: #444444;
  color: #FFFFFF;
}

.footer-contacts-address-text {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.footer-services-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-contacts-phone-number {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
}

.categories-current {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs-link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

.catalog-products {
  background-color: #F0F0F0;
}

.catalog-filter-title, .catalog-sorting-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-legend {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.control-input {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.product-card-link{
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: inherit;
  text-decoration: none;
}

.product-card-price {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.product-list-button {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination {
  background-color: #EBEBEB;
}

.pagination-link {
  text-decoration: none;
  color: #444444;
}

.pagination-prev, .pagination-next {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
}
