@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Центровщик */
.page-container {
  width: 1160px;
  margin: 0 auto;
}

/* Для реализации "sticky-footer" */
.main-container {
  flex-grow: 1;
}

.page-header {
  min-height: 186px;
  width: 1160px;
  margin: 40px auto 0;
  padding: 0;
  background-color: #FFE17F;
}

.header-index-link {
  display: inline-block;
  margin: -23px 0 0 60px;
  color: #000000;
}

.header-index-link:hover .logo {
  opacity: 0.6;
}

.header-index-link:active .logo {
  opacity: 0.3;
}

.logo {
  display: block;
}

/* Обертка "поиск + навигация пользователя" */
.navigation-user-container {
  width: 1040px;
  padding: 0;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
}

.search-form {
  box-sizing: border-box;
  width: 517px;
  margin-right: 26px;
  display: grid;
  grid-template-columns: 1fr 160px;
}

.search-input {
  box-sizing: border-box;
  padding-left: 46px;
  background-color: transparent;
  outline: none;
  border: 2px solid black;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-right: none;
  background-image: url("../images/header/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
}

.search-button {
  box-sizing: border-box;
  padding: 0;
  border: 2px solid black;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  cursor: pointer;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.search-button:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.navigation-user {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navigation-user-item:nth-child(1) .navigation-user-link::before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-image: url("../images/header/login-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user-item:nth-child(3) .navigation-user-link::before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-image: url("../images/header/compare-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user-item:nth-child(4) .navigation-user-link::before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  vertical-align: middle;
  width: 33px;
  height: 16px;
  background-image: url("../images/header/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user-link {
  display: block;
  padding: 5px;
  color: inherit;
  text-decoration: none;
}

.navigation-user-link:hover {
  opacity: 0.6;
}

.navigation-user-link:active {
  opacity: 0.3;
}

/* Основная навигация */
.navigation-list {
  width: 1040px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0;
  display: flex;
  list-style: none;
}

.navigation-item {
  margin-right: 45px;
  position: relative;
}

.navigation-item:first-child {
  margin-right: auto;
}

.navigation-item:first-child .navigation-link::after{
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -60px;
  margin-top: auto;
  margin-bottom: auto;
  content: "";
  width: 50px;
  height: 50px;
  background-image: url(../images/header/catalog-toggler.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation-item:not(:nth-child(1)) .navigation-link:hover {
  opacity: 0.6;
}

.navigation-item:not(:nth-child(1)) .navigation-link:active {
  opacity: 0.3;
}

/* Всплывающее меню с каталогом */
.catalog-elements {
  position: absolute;
  padding-top: 30px;
  padding-bottom: 27px;
}

.catalog-elements-link-list {
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-template-rows: 20px 20px 20px;
  list-style-type: none;
  padding: 0;
}

.catalog-elements-link-item:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.catalog-elements-link-item:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.catalog-elements-link-item:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.catalog-elements-link {
  display: block;
  color: inherit;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}
/* */

.slider {
  margin-top: -150px;
  position: relative;
  display: flex;
}

.slider-button {
  display: block;
  position: absolute;
  width: 20px;
  height: 60px;
  background-image: url("../images/gallery/slider-button.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider-prev {
  top: 211px;
  left: 30px;
}

.slider-next {
  top: 211px;
  right: 30px;
  transform: scale(-1);
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-image {
  display: block;
}

.slider-pagination-button {
  display: block;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.slider-container-1 {
  display: flex;
}

.slider-container-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 51px;
}

.slider-number-container {
  background-color: #FFE17F;
}

.slider-number {
  display: block;
  width: 250px;
  margin-left: auto;
  font-weight: 700;
  font-size: 180px;
  line-height: 135px;
  color: #ffffff;
}

.slider-pagination {
  display: flex;
  align-items: center;
}

.slider-pagination-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.slider-pagination-item:not(:last-child) {
  margin-right: 20px;
}

.bestsellers-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.bestsellers-title {
  margin: 0;
  margin-top: -22px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.bestsellers-description {
  margin: 0;
  margin-top: 29px;
  color: #444444;
}

.bestsellers-properties-container {
  display: flex;
  margin-top: 49px;
}

.bestsellers-property {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.bestsellers-property:first-child {
  margin-left: 0;
}

.property-text {
  margin: 0;
  margin-top: 12px;
  font-size: 16px;
  color: #444444;
}

.property-value {
  order: -1;
  margin: 0;
  font-size: 36px;
}

.button {
  position: relative;
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
  height: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.2em;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  z-index: 0;
}

.button::before {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  content: "";
  display: block;
  width: auto;
  height: 8px;
  background-color: #FFE17F;
}

.button:hover {
  background-color: #FFE17F;
}

.button:active {
  background-color: #FFC700;
}

.categories-list {
  margin: 0;
  margin-top: 70px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.categories-item {
  margin-right: 40px;
  margin-bottom: 5px;
  width: 160px;
  min-height: 253px;
}

.categories-item:nth-child(6n) {
  margin-right: 0;
}

.categories-item-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

}

.categories-item-block {
  position: relative;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
}

.categories-item-name {
  display: block;
  margin-top: 33px;
}

.categories-item-link {
  display: flex;
  min-height: 253px;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: inherit;
  text-decoration: none;
}

.categories-item-link:hover .categories-item-block {
  background-color: #FFC700;
}

.categories-item-link:active .categories-item-block {
  background-color: #FFE17F;
}

.categories-item-link:active {
  opacity: 0.3;
}

.services {
  background-color: #F0F0F0;
  margin-top: 167px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  display: flex;
  margin: 0;
  margin-bottom: 70px;
  padding-bottom: 72px;
}

.services-title {
  margin: 0;
  margin-top: -22px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.services-description {
  color: #444444;
  margin: 0;
  margin-top: 34px;
  margin-bottom: 20px;
}

.services-description-container {
  width: 485px;
  margin-right: 73px;
}

.services-image {
  display: block;
  margin-top: -22px;
}

.services-button-list {
  position: relative;
  width: 280px;
  margin: 0;
  margin-top: -40px;
  margin-right: 116px;
  padding: 0;
  list-style: none;
}

.services-button-list::before {
  display: block;
  position: absolute;
  top: -64px;
  left: 280px;
  content: "";
  width: 7px;
  height: 319px;
  background-color: #000000;
}

.services-button {
  padding: 0;
  width: 160px;
}

.services-button-current {
  color: #FFE17F;
  background-color: #000000;
}

.services-button-current::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
  height: 40px;
  width: 280px;
  background-color: #000000;

}

.services-button-current:hover {
  background-color: black;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  margin: 0;
  padding: 0;
  width: 1160px;
  height: 100px;
  background-color: #F0F0F0;
}

.advantages-link {
  display: flex;
  align-items: center;
  height: 100px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.advantages-attention-icon {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 43px;
}

.advantages-link:hover .advantages-attention-icon g {
  opacity: 1;
}

.advantages-link:hover .advantages-block {
  background-color: #FFC700;
}

.advantages-link:active .advantages-block {
  background-color: #FFE17F;
}

.advantages-link:active {
  opacity: 0.3;
}

.advantages-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
}

.advantages-text {
  text-align: center;
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 20px;
}

.index-columns {
  margin-top: 117px;
  display: flex;
	justify-content: space-between;
}

.about {
  width: 500px;
}

.about-title {
  position: relative;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.about-title::before {
  content: "";
  display: block;
  position: absolute;
  top: -47px;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about-text {
  margin: 0;
  margin-top: 48px;
  color: #444444;
}

.delivery-companies-list {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 40px;
}

.delivery-companies-item {
  margin-bottom: 19px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #FFC700;
}

.delivery-companies-item:last-child {
  margin-bottom: 0;
}

.delivery-companies {
  color: #000000;
}

.contacts {
  width: 533px;
}

.contacts-title {
  position: relative;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.contacts-title::before {
  content: "";
  display: block;
  position: absolute;
  top: -47px;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.contacts-text {
  margin: 0;
  margin-top: 48px;
  color: #444444;
}

.contacts-subtitle {
  margin: 0;
  margin-top: 30px;
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}

.contacts-address-text {
  margin: 0;
  margin-top: 15px;
  color: #444444;
  font-style: normal;
}

.contacts-phone {
  margin: 0;
  color: #444444;
  font-style: normal;
}

.contacts-schedule {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 40px;
}

.contacts-schedule-item {
  color: #444444;
}

.newsletter-container {
  display: flex;
  justify-content: space-between;
}

.newsletter-container:last-child {
  margin-top: 144px;
  padding-bottom: 56px;
}

.newsletter {
  margin-top: 70px;
  background-color: #F0F0F0;
}

.newsletter-title {
  margin: 0;
  margin-top: 64px;
  padding: 0;
  width: 400px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.newsletter-text {
  margin: 0;
  margin-top: 74px;
  padding: 0;
  width: 553px;
  color: #444444;
}

.newsletter-text-fiture {
  margin: 0;
  color: #444444;
  align-self: center;
}

.newsletter-text-fiture::before {
  content: "";
  display: inline-block;
  margin-right: 16px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-image: url("../images/tick-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.newsletter-form {
  width: 810px;
  display: flex;
}

.newsletter-input {
  display: block;
  outline: none;
  flex-grow: 1;
  box-sizing: border-box;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  border: 3px solid #CECECE;
  border-right: none;
  border-top: none;
  border-left: none;
}

.newsletter-subscribe {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  border: 3px solid #CECECE;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 39px;
  padding-left: 39px;
}

.newsletter-subscribe:hover {
  border-color: #000000;
  background-color: #000000;
  color: #FFFFFF;
}

.newsletter-subscribe:active {
  border-color: #CECECE;
  color: rgba(255, 255, 255, 0.3)
}

.page-footer {
  background-color: #444444;
  color: #FFFFFF;
  padding-top: 62px;
}

.page-footer-container {
  width: 1160px;
  margin: 0 auto;
}

.footer-group-1-container {
  display: flex;
  justify-content: space-between;
}

.footer-group-2-container {
  display: flex;
  justify-content: space-between;
}

.footer-index-link {
  color: #FFC700;
}

.footer-index-link:hover {
  opacity: 0.6;
}

.footer-index-link:active {
  opacity: 0.3;
}

.footer-contacts-address {
  width: 239px;
}

.footer-contacts-address-text {
  font-size: 16px;
  line-height: 19px;
}

.footer-services-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.footer-services-item {
  margin-right: 35px;
}

.footer-services-item:last-child {
  margin-right: 0;
}

.footer-services-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-services-link:hover {
  color: #FFC700;
  border-bottom: 2px solid #FFC700;
}

.footer-services-link:active {
  color: #FFC700;
  border-bottom: 2px solid #FFC700;
  opacity: 0.3;
}

.footer-decorative {
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.footer-social-item:not(:last-child) {
  margin-right: 15px;;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFFFFF;
  opacity: 0.3;
  color: inherit;
  text-decoration: none;
}

.footer-social-icon {
  color: #444444;
}

.footer-social-link:hover {
  background-color: #FFC700;
  opacity: 1;
}

.footer-social-link:active .footer-social-icon{
  opacity: 0.3;
}

.footer-contacts-phone {
  width: 175px;
}

.footer-contacts-phone-number {
  font-size: 16px;
  line-height: 20px;
  color: inherit;
}

.footer-contacts-phone-number:hover {
  color: #FFC700;
}

.footer-contacts-phone-number:active {
  color: #FFC700;
  opacity: 0.3;
}

.htmlacademy-link {
  color: #FFC700;
}

.htmlacademy-link:hover {
  color: #FFFFFF;
}

.htmlacademy-link:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.inner-header {
  box-sizing: border-box;
  width: 1160px;
  margin: 0 auto;
  padding: 35px 60px;
}

.categories-current {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.breadcrumbs {
  margin: 0;
  margin-top: 16px;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-left: 36px;
}

.breadcrumbs-item:not(:last-child):after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 4px;
  height: 7px;
  background-image: url(../images/catalog/breadcrumbs-arrow.svg);

}

.breadcrumbs-item:first-child {
  margin-left: 0;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

.catalog-products {
  background-color: #F0F0F0;
}

.catalog-grid-layout {
  display: grid;
  grid-template-columns: 320px 840px;
  grid-template-rows: 70px auto;
  grid-template-areas:
    "filter sorting"
    "filter products";
}

.product-list {
  grid-area: products;
  display: grid;
  grid-template-columns: 360px 360px;
  row-gap: 44px;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  margin-top: 70px;
  padding: 0;
}

.product-list-container {
  background-color: #FFFFFF;
}

.sorting-container {
  padding-left: 40px;
  padding-top: 26px;
  padding-bottom: 26px;
  grid-area: sorting;
  display: flex;
}

.catalog-filter-container {
  grid-area: filter;
  padding-left: 60px;
  padding-top: 25px;
}

.catalog-filter-title, .catalog-sorting-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
}

.catalog-filter-title {
  margin-bottom: 60px;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
}

.catalog-filter-legend {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.control-input {
  font-size: 16px;
  line-height: 19px;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.product-card-link {
  display: grid;
  grid-template-columns: 180px 180px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: inherit;
  text-decoration: none;
}

.product-card-image {
  grid-column: 1 / -1;
  margin-bottom: 32px;
}

.product-card-title {
  margin: 0;
  padding: 0;
}

.product-card-price {
  justify-self: end;
  display: block;
  font-weight: 400;
  line-height: 21px;
  color: #444444;
}

.product-list-button {
  display: block;
  box-sizing: border-box;
  border: 3px solid #EBEBEB;
  width: 760px;
  margin: 0 auto;
  margin-top: 44px;
  padding: 15px;
  background-color: #FFFFFF;
  border: 3px solid #F0F0F0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.product-list-button:hover {
  border: 3px solid #000000;
}

.product-list-button:active {
  opacity: 0.3;
}

.pagination {
  background-color: #F0F0F0;
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 78px;
  padding: 0;
  width: 760px;
  display: flex;
  /* justify-content: space-between; */
  list-style-type: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pagination-link {
  line-height: 21px;
  color: rgba(68, 68, 68, 0.3);
  padding: 25px;
  display: block;
  text-decoration: none;
}

.pagination-link:hover {
  color: rgba(68, 68, 68, 1);
}

.pagination-link:active {
  color: rgba(68, 68, 68, 0.1);
}

.pagination-link.pagination-current:hover {
  color: rgba(68, 68, 68, 0.3);
}

.pagination-link.pagination-current:active {
  color: rgba(68, 68, 68, 0.3);
}

/* Кнопки "Назад" и "Вперед" */
.pagination-link.pagination-next:hover, .pagination-link.pagination-prev:hover {
  color: #000000;
  background-color: #DCDCDC;
}

.pagination-link.pagination-next:active, .pagination-link.pagination-prev:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-link.pagination-next.pagination-disabled:hover, .pagination-link.pagination-prev.pagination-disabled:hover {
  background-color: #F0F0F0;
}

.pagination-link.pagination-next.pagination-disabled:active, .pagination-link.pagination-prev.pagination-disabled:active {
  color: #000000;
}

.pagination-prev, .pagination-next {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  color: #000000;
  opacity: 1;
  text-transform: uppercase;
}
/*  */

.prev {
  margin-right: auto;
}

.next {
  margin-left: auto;
}
